{#
/**
 * @file
 * Default theme implementation to display an oEmbed resource in an iframe.
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}"></css-placeholder>
    <style>
      body {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <h1 class="sr-only">{{ title }}</h1>
    {{ media|raw }}
  </body>
</html>
